<%- contentFor('body') %>

  <div class="flex h-screen" id="main">

    <%- include('../partials/sidebar.ejs') %>

    <!-- Main content -->
    <div class="flex-1 p-10">
      <h1 class="text-2xl font-bold mb-4 text-black"></h1>
      <p>Your main content goes here.</p>
    </div>

  </div>